<h1>
  Employee Details
</h1>
<form class="form" [formGroup]="employeeForm">
  <div class="form-row">
    <mat-form-field>
      <input matInput placeholder="Enter Employee Name" formControlName="name" required>
      <mat-error *ngIf="isFieldValid('name')">Employee Name Required</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <mat-select placeholder="Select Designation" formControlName="designation" required>
        <mat-option value="UI Engineer">UI Engineer</mat-option>
        <mat-option value="UI Developer">UI Developer</mat-option>
        <mat-option value="Project Manager">Project Manager</mat-option>
        <mat-option value="Assistant Manager">Assistant Manager</mat-option>
        <mat-option value="Visualizer">Visualizer</mat-option>
        <mat-option value="Manager">Manager</mat-option>
        <mat-option value="CEO">CEO</mat-option>
        <mat-option value="COO">COO</mat-option>
        <mat-option value="Instructional Desginer">Instructional Desginer</mat-option>
      </mat-select>
      <mat-error *ngIf="isFieldValid('designation')">Designation Required</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <input matInput type="number" placeholder="Enter Salary" formControlName="salary" required>
      <mat-error *ngIf="isFieldValid('salary')">Salary Required</mat-error>
    </mat-form-field>
  </div>
  <button mat-button [disabled]="!employeeForm.valid" (click)="save()">Save</button>
  <button mat-button (click)="goBack()">Cancel</button>
</form>
