/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  margin: 10px;
}

.form, table {
  width: 100%;
}

.form-row > * {
  width: 100%;
}
